<html xmlns:th="http://www.thymeleaf.org">
	<head>
	<div th:replace="fragment/resources :: head"></div>
		<title>Modifica Pizza</title>
	</head>
	<body>
		<div class="container">
			<h1 class="text-center">Pizza</h1 >
			<hr/>
			<form
				id="pizza-form"
				th:object="${pizza}"
				th:action="${edit} ? @{/pizze/edit/{id}(id=${pizza.id})} : @{/pizze/create}"
				method="POST" class="mx-5">
				<ul>
					<li th:each="err : ${#fields.allErrors()}" th:text="${err}" class="text-danger"></li>
				</ul>
				<div class="row">
					<div class="col-6 offset-2 mt-4">
						<div class="row gy-2">
							<div class="col-10">
								<label class="form-label" for="nome">Nome</label>
								<input type="text" class="form-control" id="nome" th:field="*{nome}" th:errorClass="is-invalid">
								<div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('nome')}" th:text="${err}"></li>
									</ul>
								</div >
							</div>
							<div class="col-2">
								<label class="form-label" for="prezzo">Prezzo</label>
								<input type="number" class="form-control" id="prezzo" step=".01" th:field="*{prezzo}">
								<div th:if="${#fields.hasErrors('prezzo')}" class="invalid-feedback">
									<ul>
										<li th:each="err : ${#fields.errors('prezzo')}" th:text="${err}"></li>
									</ul>
								</div >
							</div>
							<div class="col-12">
								<label class="form-label" for="descrizione">Descrizione</label>
								<textarea type="text" class="form-control" id="descrizione" th:field="*{descrizione}" rows="2"></textarea>
							</div>
						</div>
						<div class="col-12 mt-3">
							<button class="btn btn-primary" type="submit">Salva</button>
							<a class="btn btn-primary" th:href="@{/pizze}" th:text="Indietro"></a>
						</div>
					</div>
					<div  class="col-4 mt-3 pl-3">
						<h4>Ingredienti</h4>
						<div class="form-check" th:each="ingrediente : ${ingredienti}">
							<input class="form-check-input" type="checkbox" th:id="|ingrediente_${ingrediente.id}|" th:value="${ingrediente.id}" th:field="*{ingredienti}">
							<label class="form-check-label" th:for="|ingrediente_${ingrediente.id}|" th:text="${ingrediente.nome}"></label>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div th:replace="fragment/resources :: scripts"></div>
	</body>
</html >